@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
}

div.bm-tech-stack {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

div.bm-tech-stack-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choices__inner {
    border-radius: 0;
    border: none;
}

.choices__list--multiple .choices__item {
    background-color: rgba(96, 165, 250);
    background-color: rgba(52, 211, 153);
    border: none;
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
    border-left: none;
    padding-right: 1rem;
    margin-left: 0;
}

div.attribution-content {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100%;
    height: 10%;
}

.logo {
    max-width: 200px;
}